<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main">
    <div class="flex min-h-screen justify-center items-center">
        <form class="m-auto w-9/12 my-auto" method="post" th:action="@{/member/findPassword}"
              th:object="${passwordForm}">
            <div class="form-control gap-4 flex flex-col justify-center items-center">
                <label class="label flex-auto">
                    <span class="label-text">Your Email</span>
                </label>
                <label class="input-group flex justify-center">
                    <span>Email</span>
                    <input class="input input-bordered input-info w-full max-w-xs" placeholder="email을 적으세요"
                           th:field="*{email}" type="text"/>
                </label>
                <button class="btn btn-outline btn-info" type="submit">전송하기</button>
            </div>
        </form>
    </div>

</main>

</body>
</html>